<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>

</head>
<body class="bg-light">

<div class="container-fluid"> <!--общий контейнер на всю ширину-->

    <div class="row">
        <div class="col bg-dark border border-dark"> <!--темная граница, бг скрывает отступы-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
                <div>
                    <span class="navbar-text text-white font-weight-bold" id="nav_email"></span>&nbsp;
                    <span class="navbar-text text-white" id="nav_roles"></span>
                </div>
                <form class="form-inline"><a class="nav-link text-secondary" href="/logout">Logout</a></form>
            </nav>
        </div>
    </div>

    <!--общая строка на все панели-->
    <div class="row">
        <!--левая боковая панель-->
        <div class="col-2 p-0 mt-2 bg-white list-group">
            <ul class="nav nav-pills my-2 flex-column"> <!--вертикально кнопками-->
                <li class="nav-item" id="adminLeftMenu"><a class="nav-link active" data-toggle="tab" href="#adminLeftMenuButton">Admin</a></li>
                <li class="nav-item" id="userLeftMenu"><a class="nav-link" data-toggle="tab" href="#userLeftMenuButton">User</a></li>
            </ul>
        </div>

        <div class="col my-3 mx-3 tab-content">

            <!--панель админа-->
            <div class="tab-pane active" id="adminLeftMenuButton">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" id="usersTableTab" data-toggle="tab" href="#usersTable">Users table</a></li>
                    <li class="nav-item"><a class="nav-link newUser" id="newUserTab" data-toggle="tab" href="#newUser">New User</a></li>
                </ul>

                <!--вкладка все пользователи-->
                <div class="row tab-content">
                    <div class="col mx-3 border-top border-left border-right rounded tab-pane active" id="usersTable" style="background-color: #f5f5f5;">
                        <div class="col px-0"><span class="navbar-brand h1 my-2">All users</span></div>
                        <div class="row bg-white border rounded-bottom">
                            <div class="col my-3">
                                <table class="table table-striped"> <!--полосатая таблица-->
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tableAllUsers"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- вкладка добавить пользователя -->
                    <div class="col mx-3 border rounded bg-white tab-pane" id="newUser">
                        <div class="row">
                            <div class="col border-bottom" style="background-color: #f5f5f5;"><span class="navbar-brand h1 my-2">Add new user</span></div>
                        </div>

                        <form class="font-weight-bold col-3 align-items-center justify-content-center mx-auto" id="form_newUser">
                            <div class="form-group text-center my-3">
                                <label for="firstname_new">First name</label>
                                <input type="text" class="form-control" placeholder="First name" id="firstname_new" autofocus>
                            </div>
                            <div class="form-group text-center">
                                <label for="lastname_new">Last name</label>
                                <input type="text" class="form-control" placeholder="Last name" id="lastname_new">
                            </div>
                            <div class="form-group text-center">
                                <label for="age_new">Age</label>
                                <input type="number" class="form-control" placeholder="Age" id="age_new">
                            </div>
                            <div class="form-group text-center">
                                <label for="email_new">Email</label>
                                <input type="email" class="form-control" placeholder="Email" id="email_new">
                            </div>
                            <div class="form-group text-center">
                                <label for="password_new">Password</label>
                                <input type="password" class="form-control" placeholder="Password" id="password_new" autocomplete="off">
                            </div>
                            <div class="form-group text-center">
                                <label for="roles_new">Role</label>
                                <select multiple class="custom-select form-control" size="2" id="roles_new" name="roles_new">
                                    <option value="ROLE_USER" label="USER" id="role_select_new_2"></option>
                                    <option value="ROLE_ADMIN" label="ADMIN" id="role_select_new_1"></option>
                                </select>
                                <button onclick="createUser()" type="submit" class="btn btn-success my-3">Add new user</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!--панель юзера-->
            <div class="tab-pane" id="userLeftMenuButton">
                <h1>User information-page</h1>
                <nav class="navbar border rounded-top" style="background-color: #f5f5f5;"><span class="navbar-brand h1">About user</span></nav>

                <!--вкладка пользователь-->
                <div class="row">
                    <div class="col mx-3 border rounded-bottom">
                        <div class="row bg-white">
                            <div class="col my-3">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tableAdminInfo"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Модал на редактирование-->
    <div class="modal fade" role="dialog" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" id="modalEditUser">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="form_editUser">
                        <div class="form-group">
                            <label for="id_ed" class="col-6 mx-auto justify-content-center font-weight-bold">ID</label>
                            <input type="text" readonly class="form-control" id="id_ed" name="id_ed">
                        </div>
                        <div class="form-group">
                            <label for="firstname_ed" class="col-6 mx-auto justify-content-center font-weight-bold">First name</label>
                            <input type="text" class="form-control" id="firstname_ed" name="firstname_ed">
                        </div>
                        <div class="form-group">
                            <label for="lastname_ed" class="col-6 mx-auto justify-content-center font-weight-bold">Last name</label>
                            <input type="text" class="form-control" id="lastname_ed" name="lastname_ed">
                        </div>
                        <div class="form-group">
                            <label for="age_ed" class="col-6 mx-auto justify-content-center font-weight-bold">Age</label>
                            <input type="number" class="form-control" id="age_ed" name="age_ed">
                        </div>
                        <div class="form-group">
                            <label for="email_ed" class="col-6 mx-auto justify-content-center font-weight-bold">Email</label>
                            <input type="email" class="form-control" id="email_ed" name="email_ed">
                        </div>
                        <div class="form-group">
                            <label for="password_ed" class="col-6 mx-auto justify-content-center font-weight-bold">Password</label>
                            <input type="password" class="form-control" id="password_ed" name="password_ed" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="roles_ed" class="col-6 mx-auto justify-content-center font-weight-bold">Role</label>
                            <select multiple class="form-control" size="2" id="roles_ed" name="roles_ed">
                                <option value="ROLE_USER" label="USER" id="role_select_ed_2"></option>
                                <option value="ROLE_ADMIN" label="ADMIN" id="role_select_ed_1"></option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button onclick="editUser()" type="submit" class="btn btn-primary" data-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Модал на удаление-->
    <div class="modal fade" role="dialog" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" id="modalDeleteUser">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="form_deleteUser">
                        <div class="form-group">
                            <label for="id_del" class="col-6 mx-auto justify-content-center font-weight-bold">ID</label>
                            <input type="text" readonly class="form-control" id="id_del" name="id_del">
                        </div>
                        <div class="form-group">
                            <label for="firstname_del" class="col-6 mx-auto justify-content-center font-weight-bold my-2">First name</label>
                            <input type="text" readonly class="form-control" id="firstname_del" name="firstname_del">
                        </div>
                        <div class="form-group">
                            <label for="lastname_del" class="col-6 mx-auto justify-content-center font-weight-bold">Last name</label>
                            <input type="text" readonly class="form-control" id="lastname_del" name="lastname_del">
                        </div>
                        <div class="form-group">
                            <label for="age_del" class="col-6 mx-auto justify-content-center font-weight-bold my-2">Age</label>
                            <input type="number" readonly class="form-control" id="age_del" name="age_del">
                        </div>
                        <div class="form-group">
                            <label for="email_del" class="col-6 mx-auto justify-content-center font-weight-bold">Email</label>
                            <input type="email" readonly class="form-control" id="email_del" name="email_del">
                        </div>
                        <div class="form-group">
                            <label for="roles_del" class="col-6 mx-auto justify-content-center font-weight-bold">Role</label>
                            <select multiple readonly class="form-control" size="2" id="roles_del" name="roles_del">
                                <option value="ROLE_USER" label="USER" id="user_select_del"></option>
                                <option value="ROLE_ADMIN" label="ADMIN" id="admin_select_del"></option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button onclick="deleteUser()" type="submit" class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- My script -->
<script src="/js/adminscript.js"></script>

</body>
</html>
